li {
  background-color: lime;
  @media screen and (min-width: 768px){
    margin: 20px;
  }
}

h1 {
  color: purple;
  border: 1px solid coral;
  padding: 20px;
}

h2 {
  color: yellow;
  background-color: salmon;
  padding: 30px;
}
