a {
  display: flex;
  color: green;
  transition: 1s;
  border: 1px solid red;
}

div {
    display: grid;
}

.item-a {
    grid-column: 2;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3
  }